<!DOCTYPE html>
<html>
<head>
   <meta charset = "utf-8" /> 
	<title>Care-demia</title>
  <link rel="shortcut icon" href="logo.png">


	<link rel="stylesheet" type="text/css" href="static/css/style1.css">

 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

 
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


  <!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

 
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<style>
  html{
  scroll-behavior: smooth;
}
</style>


</head>
<body>

	<div class="bgimg">

		<nav class="navbar navbar-expand-md bg-light navbar-light fixed-top">

			<div class="container">
        <img src="static/imgs/logo2.png">
				<a href=""class="navbar-brand text-danger font-weight-bold">CARE-DEMIA</a>





				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsenavbar"> 
					<span class="navbar-toggler-icon"> </span>
                </button>

                <div class="collapse navbar-collapse text-center " id="collapsenavbar">
                	
                	<ul class="navbar-nav ml-auto ">

                		<li class="nav-item">
                			<a href="#Take_the_Test" class="nav-link text-black">  DETECTION  </a>
                			
                		</li>

                		<li class="nav-item">
                			<a href="#NEWS" class="nav-link text-black">  NEWS  </a>
                			
                		</li>


                		<li class="nav-item">
                			<a href="#COMMUNITY" class="nav-link text-black">  COMMUNITY  </a>
                			
                		</li>

                		<li class="nav-item">
                			<a href="#TEAM" class="nav-link text-black">  CONTACT   </a>
                			
                		</li>

                		<li class="nav-item">
                			<a href="#TEAM" class="nav-link text-black">  TEAM  </a>
                			
                		</li>
                		

                	</ul>
                </div>




            </div>

        </nav>

        <div class="container text-center hearderset">
        	<h2 class="text-white">Welcome to  </h2>
			<h1 class="text-white">  Breast Cancer Diagnosis And Detection </h1>
			<form class='form_code'action="/predict" method="GET">
				<button class="btn btn-warning text-white btn-lg ">Get Checked Today</button>
			</form>
        </div>

    </div>

    <section class="container detectionform text-center ">

    	<h1 id="Take_the_Test" class="bg-light"> Take the Test</h1>
    	<p>Instructions:</p>
    	<p>1)Fill in the required details given in the form. </p>
    	<p>2)Click on "Result" tab.</p>
    	<p>3)Your result will be displayed immediately.</p>
</section>

 <!--   	
/////////////////////////////////COMMUNITY////////////////////////////////////////////////////-->

<section class="container community text-center">

	<h1 id="COMMUNITY"> COMMUNITY </h1>
	<p>"The human spirit is stronger than anything that can happen to it."</p>
		<p>Find online communities and support groups here.</p>

	<div class="row rowsetting">

		<div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto  bg-light">
		<div class=" imgsetting d-block m-auto bg-warning "> <i class="fa fa-users fa-3x"> </i></div>	

		<h2><a href="https://4thangel.ccf.org/">4th Angel Mentoring Program</a></h2>
		<p> It provides free, one-on-one, confidential telephone support for people with cancer and their caregivers. Trained mentors who are cancer survivors or have been a caregiver to a person with cancer offer support and guidance during a difficult time.It helps people find support no matter where they live</p>

		</div>



		<div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
		<div class=" imgsetting d-block m-auto bg-warning"> <i class="fa fa-users fa-3x"> </i></div>	

		<h2><a href="http://www.mylifeline.org/">MyLifeline.org</a></h2>
		<p>It is a part of the Cancer Support Community. It provides free websites for people with cancer and caregivers to keep family and friends updated. A calendar on the site helps you keep track of doctor and treatment visits and other important appointments. Plus, you can post requests for help, such as rides to appointments, babysitting, or donations.</p>

		</div>




		<div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto  bg-light">
		<div class=" imgsetting d-block m-auto bg-warning"> <i class="fa fa-users fa-3x"> </i></div>	

		<h2><a href="https://www.cancercare.org/support_groups">CancerCare</a></h2>
		<p> It offers about 100 online groups for people with cancer and their loved ones. The groups are led by oncology social workers who give support and guidance.It  helps you coordinate caregiving tasks among family members and friends. It  helps communicate updates in a patient care journal, share pictures, and coordinate help.

Friend for Life Cancer Support Network</p>

		</div>


</div>

 </section>

<!--  
//////////////////////////////////NEWS////////////////////////////////////-->
 <section class="news bg-light">
 	<div class="container text-center"> 
 		<h1 id="NEWS" class="bg-white"> NEWS </h1>
 		<p>Get latest medical news and breakthroughs here. </p>

 		<div class="row">

 			<div class="col-lg-4 col-md-4 col-sm-12 col-10
 			d-block m-auto">
 			<div class="card">
 				<img src="static/imgs/News/thumbnail1.jpg" class="card-img img-fluid">
 				<div class="card-body ">
 					<h2 class="card-title">Study Finds Antioxidants Risky During Breast Cancer Chemotherapy</h2>
 					<p class="card-text">A small study found that patients who took antioxidants had higher chances of cancer recurrence and death.</p>
 				</div>
 			</div>
		    </div>

		    <div class="col-lg-4 col-md-4 col-sm-12 col-10
 			d-block m-auto">
 			<div class="card">
 				<img src="static/imgs/News/thumbnail2.jpg" class="card-img img-fluid">
 				<div class="card-body">
 					<h2 class="card-title">Common Questions About the COVID-19 Outbreak</h2>
 					<p class="card-text">Some cancer patients might be at increased risk of serious illness from an infection because their immune systems can be weakened by cancer and its treatments.</p>
 				</div>
 			</div>
		    </div>

		    <div class="col-lg-4 col-md-4 col-sm-12 col-10
 			d-block m-auto">
 			<div class="card">
 				<img src="static/imgs/News/thumbnail3.jpg" class="card-img img-fluid">
 				<div class="card-body">
 					<h2 class="card-title">Study: More Steps Per Day Linked With Longer Life</h2>
 					<p class="card-text">A new observational study shows that taking more steps each day – even if you walk at a regular pace – is linked with living longer.</p>
 				</div>
 			</div>
		    </div>

		    <div class="row">
 			<div class="col-lg-4 col-md-4 col-sm-12 col-10
 			d-block m-auto">
 			<div class="card">
 				<img src="static/imgs/News/thumbnail4.jpg" class="card-img img-fluid">
 				<div class="card-body">
 					<h2 class="card-title">Study: Getting Enough Exercise Lowers Risk of 7 Cancers</h2>
 					<p class="card-text">Getting recommended amounts of physical activity is linked to a lower risk for 7 cancer types, according to a study from the American Cancer Society and others.</p>
 				</div>
 			</div>
		    </div>

		    <div class="col-lg-4 col-md-4 col-sm-12 col-10
 			d-block m-auto">
 			<div class="card">
 				<img src="static/imgs/News/thumbnail5.jpg" class="card-img img-fluid">
 				<div class="card-body">
 					<h2 class="card-title">Study Finds Losing Weight After 50 May Lower Breast Cancer Risk</h2>
 					<p class="card-text">Women who lose weight after age 50 and keep it off have a lower risk of breast cancer than women whose weight stays the same, according to a study from researchers at the American Cancer Society and others.</p>
 				</div>
 			</div>
		    </div>

		    <div class="col-lg-4 col-md-4 col-sm-12 col-10
 			d-block m-auto">
 			<div class="card">
 				<img src="static/imgs/News/thumbnail6.jpg" class="card-img img-fluid">
 				<div class="card-body">
 					<h2 class="card-title">Study Finds Possible Link Between Hair Dye, Straighteners, and Breast Cancer</h2>
 					<p class="card-text">A study from researchers at the National Institute of Health (NIH) found that women who used permanent hair dye and chemical hair straighteners had a higher risk of breast cancer than women who didn’t use them.</p>
 				</div>
 			</div>
		    </div>
 			
 		</div>
 			
 		</div>


 	</div>

 	
</section>


<!-- ///////////////////////////////////TEAM///////////////////////////////// -->
<!-- <section class="ourteam">
	<div class="container text-center">
		<h2>TEAM</h2>
		<p>TEAM</p>
		
	</div>
</section>
 -->

<section class="footer text-center">
  <h1 id="TEAM" class="font-weight-bold bg-light">THE TEAM</h1>
  <p><a href="mailto:hege@example.com">Contact: hege@example.com</a></p>


  <div class="row">
  	<div class="col-lg-4 col-md-4 col-sm-10 col-12 d-block
  	m-auto">
  	<figure class="figure">
  		<img src="static/imgs/team/member2.jpg" class="figure-img
  		img-fluid rounded-circle" height="250px" width="250px">
  		<figcaption>
  			<h4> Yashasvi Mishra </h4>
  			<p class="figure-caption">ML Expert</p>
  		</figcaption>
  		
  	</figure>
  	

  </div>


  	<div class="col-lg-4 col-md-4 col-sm-10 col-12 d-block
  	m-auto">
  	<figure class="figure">
  		<img src="static/imgs/team/member1.jpg" class="figure-img
  		img-fluid rounded-circle" height="250px" width="250px">
  		<figcaption>
  			<h4> Shreya Raghuvansh </h4>
  			<p class="figure-caption">Web Developer</p>
  		</figcaption>
  		
  	</figure>
  	

  </div>
</div>

</section>

<footer class="foot text-center">
	<h6>Copyright © 2020, Designed by Epsilon-Not </h6>
</footer>
		

</body>
</html>
